
*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: white;
    line-height:2.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:.1px;
    z-index: 2;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collap{
    font-size: 1.75rem;
    margin-left: .25rem;
    border: 2px solid black;
    padding:.5rem .5rem;
    border-radius: .5rem;
    display:none;
    z-index: 2;
}
.collap:active{
    background: #fe424d;
}
.inp form{
    display: flex;
    align-items: center;
}
.inp input{
    width:21rem;
    height: 3.25rem;
    border-radius: 10rem;
}
.inp button{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fe424d;
    color:white;
    border: 1px solid white;
    border-radius: 100%;
    
}

.nav-rt{
    display: flex;
    align-items: center;
}
.nav-rt a{
    text-decoration: none;
    color: black;
}
.user{
    border: 1px solid black;
    border-radius:10rem;
    padding: 0.5rem 1.5rem;
    margin:0rem 2rem 0rem 1.5rem;

}
.user i{
    margin-left: .5rem;
}
.user:hover{
    box-shadow: 1px 2px 2px 1px gray;
}
.search input:hover{
    box-shadow: 1px 1px 2px 1px gray;
}
.nav-lt a{
    font-size: 2rem;
    color:#fe424d;
}
.crd{
    width: 14rem;
    padding:.5rem;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(181, 170, 170);
    border-radius: 1rem;
    position: absolute;
    top: 5rem;
    right: 3rem;
    display: none;
}
.active{
    display: flex;
}
.crd a{
    text-decoration: none;
    color: black;
}
.crd li{
line-height: 1.75rem;
}
@media(max-width:760px){
    .collap{
        display:flex;
    }
    .nav-rt{
        display:none;
    }
    .nav-lt{
        display:none;
    }
    .search{
        width: 100%;
        
    }
    .inp{
        width:100%;
    }
    .inp input{
        width:70%;
    }
    .active{
        margin:0rem 1rem;
        right: 0;
        z-index: 2;
    }
} 

