<% layout('layout/boilerplate') -%>
<h1>hi , how can we help ?</h1>
<div>getting started with wonderlust</div>
<div>welcome to wonderlust community </div>
<div>
    <h4>Host</h4>
    <p>1.  Create an account </p>
    <p>2.  Go to airbnb you home</p>
    <p>3.  Fill & Submit the details </p>
</div>
<div>
    <h4>Guest</h4>
    <p>1. Create an account</p>
    <p>2. Explore</p>
    <p>3. Click the resort you like for the detail</p>
</div>