<% layout('layout/boilerplate') -%>

<section  class="offset-2 section1 mt-4">
            
<h1 class="title" style="text-align: center; font-weight: 600;"> Hi , how can we help ?</h1>
<div class="help-article mt-4">
    <div class="card help-card" style="width: 18rem;">
        <img class="card-img-top help-image" src=" https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt085a97d5fcab4519/617b2bc0515a341061cc71ee/accessing-your-account-optimized.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="text-align: center;"><b>Getting started with homely stay</b></p>
        </div>
      </div>
      <div class="card help-card" style="width: 18rem;">
        <img class="card-img-top help-image" src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltf091f0eaa3ac1b5e/how-booking-and-reservations-work-optimized.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="text-align: center;"><b>How booking works</b></p>
        </div>
      </div>
      <div class="card help-card" style="width: 18rem;">
        <img class="card-img-top help-image" src="https://thepointsguy.global.ssl.fastly.net/us/originals/2020/05/PJM020719Q202_Luxe_WanakaNZ_LivingRoom_0264-LightOn_R1-scaled.jpg"alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="text-align: center;"><b>Access and manage your account</b></p>
        </div>
      </div>
<!-- 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/bltfbcc7f32e0cd6ff5/617b2ba9b187491e7c56dfca/getting-started-on-airbnb-optimized.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt085a97d5fcab4519/617b2bc0515a341061cc71ee/accessing-your-account-optimized.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> -->
    
</div>

<h5 class="mt-4 " style="font-weight: 600; text-align: center;">Guides for getting started </h5>
<div class=" mt-2 sl">
<ol>
    <li>Click on 'Sign-Up'</li>
    <li>Enter username</li>
    <li>Enter your 'email'</li>
    <li>Enter your 'password'</li>
    
   <div class="ssl"> Now, your account will be created succesfully.</div>
   
</ol>
<ol>
    <li>Click on <a href="/login">login</a> </li>
    <li>Enter username</li>
    <li>Enter your 'password'</li>
    <li>You will be redirected to home page</li>
    <div class="ssl">Now, you are logged in  succesfully.</div>
</ol>
</div>
<button style="width:100%;" class="btn btn-danger help-signup">Sign up</button>
</section>
<div class="help-container">
    <!-- <div class="col-9 offset-2" > -->

<section class="section2" >
<h2 class="title">FAQs</h2>
<div class="faq">
    <div class="ques">How to create account</div>
    <div class="ans">

        On the homepage, look for the “Sign Up” button,located in the upper right corner.
        Choose Your Sign-Up Method:
        
        You can sign up using email: 
                Enter your email address and create a password.
                signing up with email, you’ll need to enter your name, email, and password. Make sure your password is strong and secure.
        </div>
</div>
<div class="faq">
    <div class="ques">How can i make reservation</div>
    <div class="ans">Log In to Your Account <br>Use the search bar to enter your destination. Click "Search."
        <br>Use the filters  to narrow down your <options class="br">Click on a property that interests you to view more details, including photos, description, amenities, and host informations <br>
        click BOOK ,Enter the dates you want are available. You can typically see a calendar on the listing page.
    <br>Review the total cost,and Make your payment</div>
</div>
<div class="faq">
    <div class="ques">I have done my payment ,how can i get confirmed</div>
    <div class="ans">you will get an confirmation email within 24 hour.Or you can contact us ,our contactar given in help page </div>
</div>
<div class="faq">
    <div class="ques">Is there any option to cancel my reservation? </div>
    <div class="ans">yeah ,you can cancel your booking 
          <ul>
            <li>if you cancel your booking within 2 days you will get 100% refund, </li>
            <li> you get only 50% refund otherwise</li>
          </ul>
    </div>
</div>
<div class="faq">
    <div class="ques">I have made payment but i don't get any confirmation email</div>
    <div class="ans">sorry for inconvenience user ,but don't be panic ,you will get confirmation email within 3 hour or sometimes it takes 24 hour but till you don't get any email you can contact us on +91 96930605 for more contact info also you can visit our help page </div>
</div>



</section>


<!-- </div> -->
</div>
<section class="offset-2 section3 mt-4 mb-4">

    <h4 style="font-weight: 600;font-size: 1.5rem;" >Send your problem ,we'll contact you soon .</h4>
    <form action="">
        <textarea name="" id="user-problem" placeholder=" write your problem here"></textarea>
       
       <div>
        <input type="radio" name="call" id="cl">
        <label for="cl"><b>call me</b></label>
       
        &nbsp;&nbsp;
        <input type="radio" name="call" id="wp">
        <label for="wp"><b>whatsapp me</b></label>
        </div>
        
       
       <button class=" mt-3 btn  btn-dark add-btn" type="submit">Submit</button>
    </form>
    </section>
    <div class="contact-us">
    <div class="wp offset-2"><i class="fa-brands fa-whatsapp"> </i><p> &nbsp;: +91 969 3060 004 </p></div>
    <div class="mail offset-2"><i class="fa-solid fa-envelope"></i><p>&nbsp;: homley@co.com </p></div>
    </div>
    <div class="contact-us">
        <div class="wp offset-2"><i class="fa-solid fa-phone"></i><p> &nbsp;: +91 694 3060 526 </p></div>
        <div class="wp offset-2"><i class="fa-solid fa-phone"></i><p>&nbsp;: +91 341 4895 433 </p></div>
     </div>