<% layout('layout/boilerplate') -%>
<div class="pay   mt-4">
    <h1 class="mt-2 mb-2" style="text-align: center; font-weight: 700;font-family: Georgia, 'Times New Roman', Times, serif; font-size: 3rem;">Make Payment</h1>
    <img src="https://media.istockphoto.com/id/2162238220/photo/qr-code-sample-for-smartphone-scanning-isolated-on-white-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=mC1WGoB31wZmYoCB04HUSiqu0m0xq3z5yWMwZvqOR5A=" alt="">
    
    <h3 class="mb-4" style="text-align: center;font-size: 2rem;font-weight: 600;">Pay:<%=p%></h3>
    
    <a href="/listing"  class="btn btn-primary mb-4 book-btn" style="text-align: center; font-size: 1.4rem;"> Make payment</button>
</div>