 <% layout('layout/boilerplate') -%> 
<div style="text-align: center;">
    <h1>Sorry! for inconvenience ....</h1>
    <h5>The data you are trying to find is currently unavailable</h5>
    <img src="download.png" alt="sorry image">
    <a href="/listing" class="btn btn-info">Go to home</a>
</div>